pip
scikit-learn
gensim
matplotlib
nltk
numpy
pandas
pickleshare
plotly-express
plotly
pyldavis
regex
seaborn
setuptools
streamlit
streamlit-agraph
umap-learn
wordcloud
mlxtend
bertopic
ipywidgets==7.6.6
bitermplus
tmplot
tomotopy
