pip
streamlit
scikit-learn
gensim
nltk
numpy
pandas
pickleshare
plotly-express
plotly
pyldavis
regex
seaborn
setuptools
streamlit-agraph
umap-learn
wordcloud
mlxtend
bertopic
ipywidgets==7.6.6
bitermplus
tmplot
tomotopy
pipeline
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz
html2image
umap-learn
